@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: var(--color-stone-700);
  --color-primary-foreground: var(--color-stone-50);
  --color-secondary: var(--color-amber-700);
  --color-secondary-foreground: var(--color-amber-50);
  --color-accent: var(--color-stone-200);
  --color-background: var(--color-stone-50);
  --color-foreground: var(--color-stone-900);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: var(--color-stone-50);
  --foreground: var(--color-stone-900);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
